h1{
    font-size:xx-large;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: rgb(26, 26, 193);
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 70, 58);
}
table{
    color: blueviolet;
}

