h1{
    font-size:xx-large;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: blue;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: lightslategray;
table{
    color:darkgreen;
}

