h1{
    font-size:xx-large;
    color: lightslategrey;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: rgb(34, 34, 208);
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(32, 114, 196);
}
table{
    color:darkgreen;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

h5{
    font-size: 28px;
    color: red;
}

thead{
    background-color: bisque;
}

